body {
  padding:0;
  margin:0;
background-color:blue;
font-size:1.2em;
}

input{
width:100%;
}
/*
        fm button
*/
.fm-button{
background-color:green;
color:white;
text-align:center;
width:33%;
cursor:pointer;
border-radius:4px;
}
/*
         form error
*/
.fm-error-form{
width:99%;
border:1px lightgray solid;
padding-top:30px;
padding-bottom:30px;
border-radius:5px;
}
.fm-error-panel{
left:20%;
top:10%;
width:60%;
position:relative;
}
.fm-error-panel td{
margin-bottom:30px;
}
#error-text{
font-size:x-large;
color:red;
text-align:center;
}
/*  
       form create folder
*/
.create-folder-div{
width:99%;
border:1px lightgray solid;
/*background-color:red;*/
}
.create-folder-table{
left:20%;
top:10%;
width:60%;
/*border:1px blue solid;*/
background-color:white;
color:black;
position:relative;
}
.create-folder-label{
 color:#808080;
font-size:small;
}/*
     form upload
 */
.upload-form{

}
.upload-form-header{
color:lightgray;
text-align:center;
width:100%;
font-size:small;
}
.upload-form-control{
left:20%;
top:10%;
width:60%;
/*border:1px blue solid;*/
background-color:white;
color:black;
position:relative;
}
/*
.upload-form-button{
  background-color:green;
color:white;
text-align:center;
width:33%;
cursor:pointer;
border-radius:4px;
}
*/
/*--------------*/

#main-div{
  left:0%;
  top:0%;
  width:100%;
  height:100%;
  position:absolute;
  background-color:white;
}
#top-menu {
  width:100%;
  background-color:red;
position:relative;
}
#top-menu td {
 background-color:white;
 cursor:pointer;
}
#left-menu {
  left: 1%;
  top: 1%;
  width: 98%;
  height: 79%;
  /*background-color: green;*/
  position: relative;
  overflow: scroll;
}
#viewer {
width:94%;
overflow:auto;
cursor:pointer;
        }
#table-in-popup{
width:100%;

background-color:blue;
}
#table-in-popup td {
padding: 8px;
color:white;
background-color:green;
}
#table-in-popup tr{
padding: 0px 0px 10px 0px;
}
#table-images{
 height:34px;
 width:100%;
height:34px; 
background-color:white;
}
.image-button{
  width:34px;
  height:34px;
}
#table-images img{
  width:34px;
  height:34px;
}
.breadcrumb{
  position:absolute;
  left:10px;
  top:20px;
  width:300px;
  height:300px;
  background-color:aliceblue;
  z-index:1000;
}
.table-as-menu{
 width:95%;
 padding: 10px;
 margin:10px;
 background-color:whitesmoke;
cursor:pointer;
}
.table-as-menu tr{
 padding:10px;
 margin:10px;
 background-color:blue;
}
.table-as-menu td {
  background-color:green;
  color:white;
  margin:18px;
  padding:8px;
}
/*-----------------*/
[data-icon]:before {
	font-family: 'Pictos Custom';
	content: attr(data-icon);
}
