

.fm-top-content{
padding:0;
margin:0;

position:absolute;
left:0%;
width:99%;
height:10%;

font-size:small;
font-family:'Times New Roman';


background-color: rgba(241,241,241,1);
color:black;
}
.fm-status-bar{

padding:0;
margin:0;

position:absolute;
top:90%;
width:99%;
border:1px solid gray;
font-size:smaller;
background-color:black;
color:gray;
}
#fm-main-content {
position:absolute;
width:99%;
padding:0;
margin:0;
top:10%;
height:80%;
background-color:black;
color:lightgray;
overflow: auto;

}
/*----------------*/
body {
overflow-x:auto;
overflow-y:scroll;

  padding:0;
  margin:0;
}

input{
width:99.1%;
}
table {
width:100%;
cursor:pointer;
}
/*
        fm button
*/
.fm-button{
background-color:green;
color:white;
text-align:center;
width:33%;
cursor:pointer;
border-radius:4px;
}
/*
         form error
*/
.fm-error-form{
width:99%;
border:1px lightgray solid;
padding-top:30px;
padding-bottom:30px;
border-radius:5px;
}
.fm-error-panel{
left:20%;
top:10%;
width:60%;
position:relative;
}
.fm-error-panel td{
margin-bottom:30px;
}
#error-text{
font-size:x-large;
color:red;
text-align:center;
}
/*  
       form create folder
*/
.create-folder-div{
width:99%;
border:1px lightgray solid;
/*background-color:red;*/
}
.create-folder-table{
left:20%;
top:10%;
width:60%;
/*border:1px blue solid;*/
background-color:white;
color:black;
position:relative;
}
.create-folder-label{
 color:#808080;
font-size:small;
}
/*
     form upload
 */
.upload-form{

}
.upload-form-header{
color:lightgray;
text-align:center;
width:100%;
font-size:small;
}
.upload-form-control{
left:20%;
top:10%;
width:60%;
/*border:1px blue solid;*/
background-color:white;
color:black;
position:relative;
}
.upload-form-button{
background-color:green;
color:white;
text-align:center;
width:33%;
cursor:pointer;
border-radius:4px;
font-size:small;
}
.upload-form-content {
  width: 100%;
  height: 80%;
  
  overflow: auto;
}
#control_progress td{
color:black;
font-size:medium;
}
/*--------------*/
#img-view{
 /*width:60%;*/
}
/*

     top menu

*/
#top-menu {
}

#top-menu td {
width:15%;
cursor:pointer;
text-align:center;

}
/* ---------------------- */
.breadcrumbs-content{
color:red;
background-color:black;
position:absolute;
cursor:pointer;
}
.table-as-menu{
}
.table-as-menu td {
  background-color:green;
  color:white;
}

/*

  bread crumb

*/
.breadcrumb{
  position:absolute;
  left:0;
  background-color:black;
  z-index:1000;
}

#viewer {
width:94%;
overflow:auto;
cursor:pointer;
        }

#table-in-popup td {
padding: 8px;
color:white;
background-color:green;
}

#table-images{
 height:34px;
 width:100%;
height:34px; 
background-color:white;
}
#table-images td{
 text-align:center;
}
.image-button{
  width:34px;
  height:34px;
}
#table-images img{
  width:34px;
  height:34px;
}

/*-----------------*/
[data-icon]:before {
  font-family: icons; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
}
/*
[data-icon]:before {
	font-family: 'Pictos Custom';
	content: attr(data-icon);
}
*/