body {
  padding:0;
  margin:0;
background-color: #808080;
}
li{
font-size:12px;
}
#main-div{
  left:1%;
  top:2%;
  width:98%;
  height:96%;
  position:absolute;
  background-color:white;
}
#left-menu{
  left:1%;
  top:1%;
  width:50%;
  height:98%;
  background-color:whitesmoke;
  
  font-family:Georgia;
  font-size:large;
  position:relative;
  float:left;
}

#canvas {
  left: 51%;
  top: 1%;
  width: 48%;
  height: 98%;
  background-color: whitesmoke;
  color: black;
  font-family: Georgia;
  font-size: large;
  position: relative;
}
canvas12 {
  left:0px;
  top:0px;
  position:relative;
  background-color:white;
}